__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
env.bak/
venv.bak/

# SQLite databases
*.db
*.sqlite3

# Flask instance folder
instance/

# Uploads directory
uploads/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
